# --- Visual Studio Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# --- Archivos del Sistema ---
.DS_Store
Thumbs.db

# --- Dependencias (Personaliza según tu lenguaje) ---
node_modules/
dist/
build/
bin/
obj/
out/

# --- Variables de Entorno y Secretos ---
.env
.env.local
.env.*.local
*.log

# --- Otros Editores ---
.idea/
.history/
*.sublime-project
*.sublime-workspace
trad1/tests-2026/00/factorial1
trad1/tests-2026/00/primos0
.gitignore
trad1/tests-2026/00/printf1
trad1/tests-2026/01/funciones1
.gitignore
trad1/tests-2026/02/fibonacci0
.gitignore
trad1/tests-2026/02/funciones3
trad1/tests-2026/02/potencias
trad1/tests-2026/02/primos4
.gitignore
trad1/tests-2026/02/primos5
trad1/tests-2026/02/primos6
trad1/tests-2026/03/factorialR
trad1/tests-2026/03/fibonacci1
.gitignore
trad1/tests-2026/02/primos3
trad1/tests-2026/02/funciones2
.gitignore
trad1/tests-2026/01/funciones6
trad1/tests-2026/01/funciones5
.gitignore
trad1/tests-2026/03/collatz
trad1/tests-2026/03/fibonacci2
trad1/tests-2026/03/fibonacci3
trad1/tests-2026/01/funciones4
trad1/tests-2026/00/while
trad1/tests-2026/00/puts1
trad1/tests-2026/00/printf2
trad1/back
trad1/back.tab.c
trad1/back.tab.h
.gitignore
trad1/trad.tab.c
trad1/trad.tab.h
trad1/trad
